header {
    font-size: 18px;
    line-height: 23px;
    padding: 30px 0;
    background: rgba(24,61,180,0.9);
    color: #fff;
    z-index: 2;
    position: fixed;
    width: 100%;

    .header {
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__links {
            a {
                padding: 10px 20px;
                &:hover {
                    color: #fff;
                }
            }
        }

        &__mobile-menu {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    header{
        .header {
            &__links {
                display: none;
            }
            &__mobile-menu {
                display: flex;
                position: relative;
                &:hover {

                }
            }
            &__mobile-links {
                position: absolute;
                left: -80px;
                top: 52px;
                padding-left: 0;

                li {
                    padding: 10px 15px;
                    background: #3a3a3a;
                }
            }
        }
    }
}