.features {
    padding-top: 100px;
    
    &__description {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .features {
        .row {
            margin-bottom: 30px;
        }
        .row-even {
            flex-direction: column-reverse;
        }
    }
}